<a href="https://colab.research.google.com/github/alexandergribenchenko/Test_R5_DE/blob/main/NB_V_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
def create_folder(folder_name):
    if not os.path.exists(folder_name):
        os.makedirs(folder_name)
    return folder_name

In [3]:
dict_input = { 'col_01': [1,2,3,4],
               'col_02': ['gato','perro','gato','perro'],
               'col_03': [1,5,6,7]
             }

df = pd.DataFrame.from_dict(dict_input)
df

   col_01 col_02  col_03
0       1   gato       1
1       2  perro       5
2       3   gato       6
3       4  perro       7

In [4]:
# Save the headlines DataFrame to a CSV file
data_path = './data'
df.to_csv(f'{create_folder(data_path)}/sample_file.csv', index=False)

In [9]:
conn = sqlite3.connect('sample_database.db')

In [10]:
c = conn.cursor()

In [11]:
dict_query = {}

dict_query['query_DimBarrio'] = """
CREATE TABLE IF NOT EXISTS "DimBarrio" (
  "id_barrio" int,
  "nombre_barrio" varchar,
  PRIMARY KEY ("id_barrio")
)
"""

dict_query['query_DimTienda'] = """
CREATE TABLE IF NOT EXISTS "DimTienda" (
  "id_tienda" int,
  "tipo_tienda" varchar,
  "latitud_tienda" float,
  "longitud_tienda" float,
  "id_barrio" int,
  PRIMARY KEY ("id_tienda"),
  CONSTRAINT "FK_DimTienda.id_barrio"
    FOREIGN KEY ("id_barrio")
      REFERENCES "DimBarrio"("id_barrio")
)
"""

dict_query['query_DimCliente'] = """
CREATE TABLE IF NOT EXISTS "DimCliente" (
  "id_cliente" int,
  "tipo_documento" int,
  PRIMARY KEY ("id_cliente")
)
"""

dict_query['query_DimFecha'] = """
CREATE TABLE IF NOT EXISTS "DimFecha" (
  "fecha_compra" datetime,
  PRIMARY KEY ("fecha_compra")
)
"""

dict_query['query_FactOrden'] = """
CREATE TABLE IF NOT EXISTS "FactOrden" (
  "id_orden" int,
  "total_compra" float,
  "fecha_compra" datetime,
  "id_cliente" int,
  "id_tienda" int,
  PRIMARY KEY ("id_orden"),
  CONSTRAINT "FK_FactOrden.fecha_compra"
    FOREIGN KEY ("fecha_compra")
      REFERENCES "DimFecha"("fecha_compra"),
  CONSTRAINT "FK_FactOrden.id_tienda"
    FOREIGN KEY ("id_tienda")
      REFERENCES "DimTienda"("id_tienda"),
  CONSTRAINT "FK_FactOrden.id_cliente"
    FOREIGN KEY ("id_cliente")
      REFERENCES "DimCliente"("id_cliente")
)
"""

In [20]:
for query in dict_query.keys():
  c.execute(dict_query[query])

In [21]:
list(dict_query.keys())

['query_DimBarrio',
 'query_DimTienda',
 'query_DimCliente',
 'query_DimFecha',
 'query_FactOrden']

In [24]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

         name
0   DimTienda
1   DimBarrio
2  DimCliente
3    DimFecha
4   FactOrden

In [25]:
pd.read_sql_query("SELECT * FROM FactOrden", conn)

Empty DataFrame
Columns: [id_orden, total_compra, fecha_compra, id_cliente, id_tienda]
Index: []

In [ ]:
c.execute("""
CREATE TABLE IF NOT EXISTS headlines (
  headline TEXT, url TEXT, timestamp TEXT, sentiment_score REAL, sentiment TEXT, relevant_words TEXT, headline_es TEXT, headline_it TEXT)')

In [ ]:
c.execute("""
DROP TABLE IF EXISTS DimBarrio;
CREATE TABLE "DimBarrio" (
  "id_barrio" int,
  "nombre_barrio" varchar,
  PRIMARY KEY ("id_barrio")
);
"""
)

In [ ]:
c.execute("""
DROP TABLE IF EXISTS DimTienda
""")

In [ ]:
c.execute("""
CREATE TABLE "DimTienda" (
  "id_tienda" int,
  "tipo_tienda" varchar,
  "latitud_tienda" float,
  "longitud_tienda" float,
  "id_barrio" int,
  PRIMARY KEY ("id_tienda"),
  CONSTRAINT "FK_DimTienda.id_barrio"
    FOREIGN KEY ("id_barrio")
      REFERENCES "DimBarrio"("id_barrio")

)
"""
)

In [ ]:
c.execute("""
CREATE TABLE "FactOrden" (
  "id_orden" int,
  "total_compra" float,
  "fecha_compra" datetime,
  "id_cliente" int,
  "id_tienda" int,
  PRIMARY KEY ("id_orden"),
  CONSTRAINT "FK_FactOrden.fecha_compra"
    FOREIGN KEY ("fecha_compra")
      REFERENCES "DimFecha"("fecha_compra"),
  CONSTRAINT "FK_FactOrden.id_tienda"
    FOREIGN KEY ("id_tienda")
      REFERENCES "DimTienda"("id_tienda"),
  CONSTRAINT "FK_FactOrden.id_cliente"
    FOREIGN KEY ("id_cliente")
      REFERENCES "DimCliente"("id_cliente")
)
"""
)

In [ ]:
headlines_df.to_sql('headlines', conn, if_exists='replace', index=False)

In [ ]:
conn.commit()

In [ ]:
df.to_sql('headlines', conn, if_exists='replace', index=False)

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect('sample_database.db')

In [ ]:
df_leido = pd.read_sql_query("SELECT * FROM FactOrden", conn)
df_leido.head()

In [ ]:
df_leido = pd.read_sql_query("SELECT * FROM DimTienda", conn)
df_leido.head()

In [ ]:
CREATE TABLE DimBarrio (
  id_barrio int,
  nombre_barrio varchar,
  PRIMARY KEY (id_barrio)
);

CREATE TABLE DimTienda (
  id_tienda int,
  tipo_tienda varchar,
  latitud_tienda float,
  longitud_tienda float,
  id_barrio int,
  PRIMARY KEY (id_tienda),
  CONSTRAINT FK_DimTienda.id_barrio
    FOREIGN KEY (id_barrio)
      REFERENCES DimBarrio(id_barrio)
);

CREATE TABLE DimCliente (
  id_cliente int,
  tipo_documento int,
  PRIMARY KEY (id_cliente)
);

CREATE TABLE DimFecha (
  fecha_compra datetime,
  PRIMARY KEY (fecha_compra)
);

CREATE TABLE FactOrden (
  id_orden int,
  total_compra float,
  fecha_compra datetime,
  id_cliente int,
  id_tienda int,
  PRIMARY KEY (id_orden),
  CONSTRAINT FK_FactOrden.fecha_compra
    FOREIGN KEY (fecha_compra)
      REFERENCES DimFecha(fecha_compra),
  CONSTRAINT FK_FactOrden.id_tienda
    FOREIGN KEY (id_tienda)
      REFERENCES DimTienda(id_tienda),
  CONSTRAINT FK_FactOrden.id_cliente
    FOREIGN KEY (id_cliente)
      REFERENCES DimCliente(id_cliente)
);